:root {
    --clr-body-bg: hs1(0 0% 90%);
    --clr-card-bg: hs1(0 0% 100%);
    --clr-text: hs1(0 0% 15%);
    --clr-heading: hs1(0 0% 25%);
}

body {
    margin: 0;
    font-family: 'Robot', sans-serif;
}

/* ========== Grid template to emulate our layout ===== */

#dashboard {
    display: grid;
    grid-template-areas: 
      "nav header header"
      "nav content content"
      "nav content content";
    height: 100vh;
    width: 100%;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 100px 1fr;
}


/* ===========Define which html element corresponds to grid tempale are =====*/

nav {
    background: red;
    grid-area: nav;
    width: fit-content;
    padding: 1rem;
}

header {
    background: var(--clr-body-bg);
    grid-area: header;
    position: relative;
}

header .header-style {
    text-align: center;
}

main {
    background: greenyellow;
    grid-area: content;
    text-align: center;
}

.card {
    background-color: aqua;
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    border: 2px solid brown;
    border-radius: 0rem;
}

.card-header {
    font-size: 1.5rem;
    margin-top: 0.5;
}

.card-body {
    font-size: .9rem;
}

.card-footer {
    margin-top: 1rem;
}